# Default ignored files
/shelf/
/workspace.xml
cat ~/.gitignore
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
*.DS_Store
.vscode/
src/main/java/dk/dtu/compute/se/pisd/roborally/dal/DBCredentials.java